@model Service
@{
    ViewData["Title"] = "Model.Name";
}

<section class="">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            <div class="col-md-6">
                <img class="card-img-top mb-5 mb-md-0" src="/Images/@Model.Image" alt="@Model.Name">
            </div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: BST-@Model.Id</div>
                <h1 class="display-5 fw-bolder">@Model.Name</h1>

                <p class="lead">
                    @Model.Description
                </p>
                <div class="d-flex">
                    <a class="btn btn-outline-dark flex-shrink-0" href="/Rezervation">
                        <i class="bi-cart-fill me-1"></i>
                        Rezervasyon Oluştur
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>