@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Hizmetlerimiz";
}

<h1 class="display-4 text-center mt-5">
    Hizmetlerimiz
</h1>
<partial name="_Services" />